@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

.about {
  container-type: inline-size;

  --anim-width: clamp(500px, 85vw, 1139px);
  --anim-height: calc(var(--anim-width) / 3.14);
  --anim-mob-width: clamp(260px, 70vw, 650px);
  --anim-mob-height: calc(var(--anim-mob-width) / 1.8);

  &__content {
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__image-container {
    position: relative;
    width: var(--anim-width);
    height: var(--anim-height);
    margin: 0 auto;
    margin-top: 120px;
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 220px;

    &::before {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        360deg,
        rgba(17 43 69 / 44%) 0%,
        rgba(17 43 69 / 0%) 61.33%
      );
      border-radius: 220px;
      content: '';
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        var(--rotate),
        rgba(49 91 239 / 100%),
        rgba(102 221 141 / 100%)
      );
      border-radius: 200px;
      filter: blur(calc(var(--anim-height) / 9));
      animation: spin 2.5s linear infinite;
      content: '';
    }
  }

  &__img {
    object-fit: cover;
  }

  @keyframes spin {
    0% {
      --rotate: 0deg;
    }

    100% {
      --rotate: 360deg;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr auto;
    row-gap: 24px;
    margin: 0 30px;
    margin-bottom: 100px;
  }

  &__decor-wrapper {
    position: relative;
    grid-row: 1/-1;
    grid-column: 2;
    width: clamp(200px, 32vw, 585px);
  }

  &__decor-element {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: auto;

    &:nth-child(2) {
      right: 30px;
    }

    &:last-child {
      top: -50px;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    grid-row: 1;
    grid-column: 1/-1;
    max-width: 70vw;
    margin: -15px 0 0 124px;
    font-size: clamp(55px, 5.3vw, 64px);
    line-height: 0.9;
  }

  &__main-text {
    grid-row: 2;
    grid-column: 1/-1;
    width: clamp(260px, 40vw, 40rem);
    margin: 0;
    margin-left: 124px;
  }

  &__btn-container {
    grid-row: 3;
    grid-column: 1;
  }

  &__btn {
    max-width: fit-content;
    margin-top: 8px;
    margin-left: 124px;
    text-decoration: none;
  }

  @media (width <= 640px) {
    &__content {
      min-width: 288px;
      max-width: 60vw;
    }

    &__image-container {
      width: var(--anim-mob-width);
      height: var(--anim-mob-height);
      margin-top: 56px;
    }

    &__wrapper {
      margin: 0;
      margin-bottom: 20px;
    }

    &__decor-wrapper {
      grid-row: 1/-1;
      width: 24px;
    }

    &__decor-element {
      top: -50px;
      left: 5px;
    }

    &__decor-element:nth-child(2) {
      display: none;
    }

    &__title {
      min-width: 288px;
      margin: 0;
      margin-top: 24px;
      font-size: 32px;
    }

    &__main-text {
      grid-column: 1/-1;
      width: clamp(260px, 40vw, 30rem);
      margin: 0;
    }

    &__btn-container {
      grid-column: 1/-1;
    }

    &__btn {
      margin: 0;
    }
  }

  @container (width <= 410px) {
    &__btn {
      max-width: unset;
      margin: 0 10px;
    }
  }
}
