.header {
  &__content {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__main-menu {
    display: flex;
    margin-right: 30px;
    margin-bottom: 10%;
    margin-left: 30px;
    padding-top: 8px;
  }

  &__navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 13px;
    margin-left: auto;
  }

  &__nav-toggle {
    display: none;
  }

  &__nav-list {
    display: flex;
    gap: clamp(1em, 3vw, 2.5em);
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;

    &_checkbox {
      display: none;
    }
  }

  &__nav-item {
    &:last-child {
      margin-right: 0;
    }
  }

  @media (width <= 600px) {
    &__content {
      display: grid;
      grid-template-rows: repeat(1, auto 1fr);
      grid-template-columns: 1fr;
      min-width: 288px;
    }

    &__img-container {
      height: auto;
    }

    &__main-menu {
      margin-right: 0;
      margin-bottom: 10%;
      margin-left: 0;
      padding-right: 16px;
      padding-left: 16px;
    }

    &__navbar {
      flex-direction: column;
      height: 159px;
      height: auto;
      margin-top: 0;
    }

    &__nav-list_checkbox {
      display: none;
    }

    &__nav-toggle {
      display: block;
      margin-left: 12.5vw;
      font-size: 28px;
      cursor: pointer;
    }

    &__nav-list {
      position: absolute;
      top: 35px;
      right: 20px;
      display: none;
      flex-direction: column;
      gap: unset;
      align-items: flex-end;
      width: 70px;
      margin-left: unset;
    }

    #nav-list-toggle:checked + &__nav-toggle + &__nav-list {
      display: flex;
    }

    &__nav-item {
      margin-top: 10px;
    }
  }
}
