.services {
  container-type: inline-size;

  &__content {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__animation-container {
    position: absolute;
    top: -80px;
    left: -210px;
    display: block;
    width: 288px;
    height: 288px;
    background-color: rgba(102 221 141 / 50%);
    border-radius: 50%;
    filter: blur(100px);
  }

  &__wrapper {
    position: absolute;
    top: -50px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 90px;
  }

  &__decor-wrapper {
    width: clamp(300px, 40vw, 550px);
    padding-top: 30px;
  }

  &__decor-element {
    width: 100%;
    height: auto;
  }

  &__section-header {
    position: relative;
    z-index: 5;
    margin-left: 120px;
    font-size: clamp(75px, 10.7vw, 130px);
    line-height: 0.9;
  }

  &__serv-list {
    position: relative;
    display: flex;
    gap: 8px;
    margin: 36px 1rem 99px;
    padding: 0;
    list-style: none;
  }

  &__card-box {
    z-index: 4;
    display: flex;
    border-radius: 24px;

    &:first-child {
      flex: 1;
    }

    &:nth-child(2) {
      z-index: 10;
      flex: 1;
      backdrop-filter: blur(20px);
    }

    &:last-child {
      flex: 1;
    }
  }

  &__card {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 30px;
    padding: 24px;
    background: var(--serv-card-bg-color);
    border-radius: 24px;
  }

  &__card-img {
    margin-bottom: 60px;
  }

  &__card-title {
    margin: 0;
    font-size: 24px;
    line-height: 0.9;
  }

  &__card-descr {
    min-width: min-content;
    margin: 0;
  }

  &__card-box:last-child &__card-descr {
    margin-bottom: 41px;
  }

  &__btn {
    text-decoration: none;
    text-wrap: nowrap;
  }

  @container (width <= 750px) {
    &__wrapper {
      margin-bottom: -180px;
      column-gap: clamp(60px, 10vw, 80px);
    }

    &__section-header {
      margin-left: 50px;
    }

    &__serv-list {
      flex-direction: column;
    }

    &__card {
      width: 100%;
    }
  }

  @media (width <= 640px) {
    &__content {
      max-width: fit-content;
      margin: 0 auto;
    }

    &__wrapper {
      position: relative;
      top: 0;
      grid-template-columns: auto 1fr;
      min-width: 288px;
      margin-top: 36px;
      margin-bottom: -95px;
      column-gap: 0;
    }

    &__decor-wrapper {
      width: clamp(115px, 11vw, 150px);
      padding-top: 10px;
    }

    &__decor-element {
      width: 100%;
      height: auto;
    }

    &__section-header {
      margin-bottom: 0;
      margin-left: 0;
      font-size: clamp(48px, 6vw, 80px);
    }

    &__serv-list {
      flex-direction: column;
      gap: 24px;
      margin: 16px 0 22px;
    }

    &__card-box {
      align-self: center;
      width: 100%;
      width: clamp(288px, 60vw, 705px);

      &:nth-child(2) {
        z-index: unset;
        backdrop-filter: unset;
      }
    }

    &__card {
      width: 100%;
      padding: 16px;
    }

    &__card-img {
      margin-bottom: 32px;
    }

    &__card-box:last-child &__card-descr {
      margin-bottom: unset;
    }
  }
}
