{% import "sprite.njk" as sprite %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sofia Pasechnik" />
    <script src="src/resources/js/app.ts" type="module"></script>
    <link rel="icon" href="src/resources/images/favicon-icon.png" />
    <link rel="stylesheet" href="src/resources/scss/style.scss" />
    <title>Final Project</title>
  </head>
  <body class="body">
    <header>
      <div class="header__content">
        <div class="header__main-menu">
          <a href="/">
            <svg class="header__logo" width="159" height="104">
              {{ sprite.svg('common', 'logo-header', 159, 104) }}
            </svg>
          </a>
          <nav class="header__navbar">
            <input
              type="checkbox"
              id="nav-list-toggle"
              class="header__nav-list_checkbox"
            />
            <label for="nav-list-toggle" class="header__nav-toggle">☰</label>
            <ul class="header__nav-list">
              <li class="header__nav-item">
                <a class="base-link header__nav-link" href="/#about">About</a>
              </li>
              <li class="header__nav-item">
                <a class="base-link header__nav-link" href="/#services"
                  >Services</a
                >
              </li>
              <li class="header__nav-item">
                <a class="base-link header__nav-link" href="/#founder"
                  >Founder</a
                >
              </li>
              <li class="header__nav-item">
                <a class="base-link header__nav-link" href="/#feedback"
                  >Contacts</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>{{ content | safe }}</main>

    <footer>
      <div class="footer__wrapper">
        <div class="footer__content">
          <div class="footer__upper-part">
            <ul class="footer__nav-list">
              <li class="footer__nav-item">
                <a class="base-link footer__nav-link" href="/#about">About</a>
              </li>
              <li class="footer__nav-item">
                <a class="base-link footer__nav-link" href="/#services"
                  >Services</a
                >
              </li>
              <li class="footer__nav-item">
                <a class="base-link footer__nav-link" href="/#founder"
                  >Founder</a
                >
              </li>
              <li class="footer__nav-item">
                <a class="base-link footer__nav-link" href="/#feedback"
                  >Contacts</a
                >
              </li>
            </ul>
            <div class="footer__socials-box">
              <h2 class="footer__socials-header base-title">Social media</h2>
              <ul class="footer__socials-list">
                <li class="footer__social-item">
                  <a href="#" class="footer__social-link">
                    <svg class="footer__icon" width="24" height="24">
                      {{ sprite.svg('social', 'facebook', 24, 24) }}
                    </svg>
                  </a>
                </li>

                <li class="footer__social-item">
                  <a href="#" class="footer__social-link">
                    <svg class="footer__icon" width="24" height="24">
                      {{ sprite.svg('social', 'instagram', 24, 24) }}
                    </svg>
                  </a>
                </li>

                <li class="footer__social-item">
                  <a href="#" class="footer__social-link">
                    <svg class="footer__icon" width="24" height="24">
                      {{ sprite.svg('social', 'twitter', 24, 24) }}
                    </svg>
                  </a>
                </li>

                <li class="footer__social-item">
                  <a href="#" class="footer__social-link">
                    <svg class="footer__icon" width="24" height="24">
                      {{ sprite.svg('social', 'linkedin', 24, 24) }}
                    </svg>
                  </a>
                </li>

                <li class="footer__social-item">
                  <a href="#" class="footer__social-link">
                    <svg class="footer__icon" width="24" height="24">
                      {{ sprite.svg('social', 'telegram', 24, 24) }}
                    </svg>
                  </a>
                </li>

                <li class="footer__social-item">
                  <a href="#" class="footer__social-link">
                    <svg class="footer__icon" width="24" height="24">
                      {{ sprite.svg('social', 'whatsapp', 24, 24) }}
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer__lower-part">
            <a href="/">
              <svg class="footer__logo" width="249" height="125">
                {{ sprite.svg('common', 'logo-footer', 249, 125) }}
              </svg>
            </a>
            <p class="footer__main-text base-title">
              20 years of high performance
              <span class="green-part">cloud based development</span> experience
            </p>
            <ul class="footer__policy-terms">
              <li class="footer__term">
                <a
                  class="base-link footer__term-link"
                  href="/privacy-policy.njk"
                  >Privacy Policy</a
                >
              </li>
              <li class="footer__term">
                <a
                  class="base-link footer__term-link"
                  href="/privacy-policy.njk"
                  >Rules for the processing of personal data</a
                >
              </li>
              <li class="footer__term">
                <a
                  class="base-link footer__term-link"
                  href="/privacy-policy.njk"
                  >Website Terms of Use</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
